/* ======Global style======== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
  padding: 0;
  box-sizing: border-box !important;
  list-style-type: none !important;
  text-decoration: none !important;
  font-family: "Poppins", system-ui;
  border: 1px solid red;
  /* font-family: "poppins"; */
  
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  
}

.colorr{
  color: #D96940;
}

.container2{
  width: 70%;
  margin: 0 auto;
}

.header li a{
  font-size: small;
  color: #333333;
  font-weight: bold;
}


.main{
  min-height: 100%;
  min-height: 80vh;
  display: flex;
}

.hero-header {
  max-width: 480px;
  font-weight: 700;
}

button{
  font-size: 13px !important;
  /* border-radius: 0.rem !important; */
  padding: 8px 1.2rem;
  border: none;
  outline: none;
}

button:hover{
  background-color: #333333;
  transition: all 300ms ease-in-out;
}

.button{
  background-color: #FFA156;

}

.button2{
  background-color: #D96940;
}


.menu{
  position: relative;

}


.menu::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -9%;
  transform: translate(-50%, -50%) !important;
  width: 4rem;
  height: 4px;
  background-color: #D96940;
  border-radius: 4px;
}

.testi-i{
  width: 10rem;
  height: 10rem;
  background-color: green !important;
}